@keyframes slideIn {
  from {
    transform: translateX(
      -100%
    ); /* Inicia fuera de la pantalla a la izquierda */
    opacity: 0; /* Comienza transparente */
  }
  to {
    transform: translateX(0); /* Termina en su posición original */
    opacity: 1; /* Termina completamente visible */
  }
}

.image-animation {
  animation: slideIn 0.5s ease forwards; /* Aplica la animación */
}
