<div class="dashboard-layout flex flex-col h-screen">
  <app-user-header (onSidebarToggle)="toggleSidebar()"></app-user-header>

  <div class="main-container flex flex-grow">
    <app-user-sidebar *ngIf="isSidebarVisible"></app-user-sidebar>

    <div class="bg-gradient-to-br from-gray-50 to-gray-100 min-h-screen p-8">
      
      <!-- Botón para abrir el modal de agregar usuario -->
      <div class="flex justify-end mb-4">
        <button 
          (click)="openAddUserModal()" 
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-200 shadow"
        >
          Agregar Usuario
        </button>
      </div>

      <!-- Tabla de usuarios -->
      <app-user-table
        [users]="users"
        [loading]="loading"
        (editUser)="editUser($event)"
        (viewRoles)="viewRolesPermissions($event)"
        (deleteUser)="confirmDeleteUser($event)"
      ></app-user-table>

      <!-- Modales -->
      <app-user-modals
        [editingUser]="editingUser"
        [userToDelete]="userToDelete"
        [isAddingUser]="isAddingUser"
        [userRolesPermissions]="userRolesPermissions"
        (cancelEdit)="cancelEdit()"
        (cancelDelete)="cancelDelete()"
        (cancelAddUser)="cancelAddUser()"
        (addUser)="addUser()"
        (deleteUser)="deleteUser()"
        (updateUser)="updateUser()"
        (closeRolesModal)="closeRolesModal()"
      ></app-user-modals>
    </div>
  </div>
</div>
