<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
  <div class="bg-white rounded-lg w-full max-w-2xl p-6 relative">
    <!-- Botón para cerrar el modal -->
    <button (click)="cancelar()" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <!-- Título del modal -->
    <h2 class="text-2xl font-semibold text-center mb-4">Agregar Cliente</h2>

    <!-- Formulario de Cliente -->
    <form (ngSubmit)="agregarCliente()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Campo de carga de imagen -->
        <div class="md:col-span-2">
          <label for="imagen" class="block text-sm font-medium text-gray-700">Imagen</label>
          <input type="file" id="imagen" (change)="onFileChange($event)" accept="image/*" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" />
        </div>
        
        <!-- Campos de entrada -->
        <div>
          <label for="dni" class="block text-sm font-medium text-gray-700">DNI</label>
          <input type="text" id="dni" [(ngModel)]="dni" name="dni" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Ingresa un DNI" />
        </div>
        
        <div>
          <label for="nombre" class="block text-sm font-medium text-gray-700">Nombres</label>
          <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Ingresa nombres" />
        </div>

        <div>
          <label for="apellido" class="block text-sm font-medium text-gray-700">Apellidos</label>
          <input type="text" id="apellido" [(ngModel)]="apellido" name="apellido" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Ingresa apellidos" />
        </div>

        <div>
          <label for="direccion" class="block text-sm font-medium text-gray-700">Dirección</label>
          <input type="text" id="direccion" [(ngModel)]="direccion" name="direccion" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Ingresa una dirección" />
        </div>

        <div>
          <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
          <input type="text" id="telefono" [(ngModel)]="telefono" name="telefono" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Ingresa un teléfono" />
        </div>

        <div>
          <label for="correo" class="block text-sm font-medium text-gray-700">Correo</label>
          <input type="email" id="correo" [(ngModel)]="correo" name="correo" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Ingresa un correo electrónico" />
        </div>

        <div class="md:col-span-2">
          <label for="frecuencia" class="block text-sm font-medium text-gray-700">Frecuencia</label>
          <input type="text" id="frecuencia" [(ngModel)]="frecuencia" name="frecuencia" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Ingresa la frecuencia del cliente" />
        </div>
      </div>

      <!-- Botón para agregar cliente -->
      <div class="mt-6 text-center">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
          Agregar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal de confirmación -->
<div *ngIf="showConfirmationModal" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
  <div class="bg-white rounded-lg w-full max-w-md p-6 relative">
    <h2 class="text-xl font-semibold text-center mb-4">Registro guardado</h2>
    <p class="text-center mb-4">El cliente ha sido guardado correctamente.</p>
    <div class="text-center">
      <button (click)="closeConfirmation()" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
        ¡Ok!
      </button>
    </div>
  </div>
</div>
