<div class="dashboard-layout">
  <!-- Header -->
  <app-header (sidebarToggle)="toggleSidebar()"></app-header>

  <!-- Contenedor principal -->
  <div class="main-container flex flex-grow">
    <!-- Sidebar -->
    <app-siderbang
      *ngIf="isSidebarVisible"
      class="siderbang w-64"
    ></app-siderbang>

    <div class="container">
      <h2 class="text-center mb-4">Administrar Inventario</h2>
      <!-- inventario.component.html -->

<div class="search-container">
  <input type="text" id="productCode" [(ngModel)]="searchCode" placeholder="Ingrese código de producto">
  <button (click)="searchProduct()">Buscar</button>
</div>
<table id="productTable" *ngIf="displayedProducts.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <!-- <th>Precio</th>-->
      <th>Cantidad</th>
      <th>Tipo</th>
      <th>Imagen</th>
      <th>Proveedor</th>
      <th>Categoría</th>
      <th>Código</th>
      <th>Precio de Venta</th>
      <th>Precio de Compra</th>
      <th>Estado</th>
     <!-- <th>Composición Isoprothiolane</th> -->
     <!-- <th>Composición Aditivos</th> -->
      <th>Descuento</th>
      <th>Modelo</th>
      <th>Fecha de Ingreso</th>
      <th>Ubicación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of displayedProducts">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <!--<td>{{ product.price }}</td> -->
      <td>{{ product.amount }}</td>
      <td>{{ product.type }}</td>
      <td>
        <img [src]="product.image" alt="{{ product.name }}" style="width: 100px; height: auto;">
      </td>
      <td>
      <!--<span *ngFor="let cat of getsupplier(product)">{{ supplier.name }}</span></td>-->
      <td>
        <span *ngFor="let cat of getCategoryProducts(product)">{{ cat.name }}</span>
      </td>
      <td>{{ product.codeProduct }}</td>
      <td>{{ product.salePrice }}</td>
      <td>{{ product.purchasePrice }}</td>
      <td>{{ product.state || 'N/A' }}</td>
      <!--<td>{{ product.composicionIsoprothiolane || 'N/A' }}</td> -->
      <!--<td>{{ product.composicionAditivos || 'N/A' }}</td> -->
      <td>{{ product.descuento || 'N/A' }}%</td>
      <td>{{ product.modelo || 'N/A' }}</td>
      <td>{{ product.fechaIngreso || 'N/A' }}</td>
      <td>{{ product.ubicacion || 'N/A' }}</td>
    </tr>
  </tbody>
</table>



    </div>
  </div>
</div>
