<div class="h-screen bg-gray-900 text-white w-64">
    <div class="p-4 text-center">
        <h1 class="text-xl font-bold">Bienvenido "USUARIO"</h1>
        <p class="text-sm">AL JARDIN DEL EDEN</p>
    </div>
    <nav class="mt-10">
        <a routerLink="/dashboard" class="block py-2.5 px-4 hover:bg-blue-500 rounded transition duration-200">Dashboard</a>
        <a href="#" class="block py-2.5 px-4 hover:bg-blue-500 rounded transition duration-200">Clientes</a>
        <a href="#" class="block py-2.5 px-4 hover:bg-blue-500 rounded transition duration-200">Productos</a>
        <a href="#" class="block py-2.5 px-4 hover:bg-blue-500 rounded transition duration-200">Inventario</a>
        <a href="#" class="block py-2.5 px-4 hover:bg-blue-500 rounded transition duration-200">Proveedores</a>
        <a href="#" class="block py-2.5 px-4 hover:bg-blue-500 rounded transition duration-200">Nueva Venta</a>
        <a href="#" class="block py-2.5 px-4 hover:bg-blue-500 rounded transition duration-200">Reportes</a>
    </nav>
</div>
