<div class="sidebar">
    <div class="p-4 text-center">
        <h1 class="text-xl font-bold">Bienvenido, "USUARIO"</h1>
        <p class="text-sm">AL JARDIN DEL EDEN</p>
    </div>
    <nav class="mt-10 flex-1">
        <a routerLink="/dashboard" class="sidebar-link active"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="#" class="sidebar-link"><i class="fas fa-user-shield"></i> Roles</a> 
        <a href="#" class="sidebar-link"><i class="fas fa-users"></i> Clientes</a>
        <a href="#" class="sidebar-link"><i class="fas fa-box"></i> Productos</a>
        <a href="#" class="sidebar-link"><i class="fas fa-warehouse"></i> Inventario</a>
        <a href="#" class="sidebar-link"><i class="fas fa-truck"></i> Proveedores</a>
        <a href="#" class="sidebar-link"><i class="fas fa-shopping-cart"></i> Nueva Venta</a>
        <a href="#" class="sidebar-link"><i class="fas fa-chart-line"></i> Reportes</a>
    </nav>
</div>
