.ml-64 {
  margin-left: 16rem;
  transition: margin-left 0.3s ease;
}

.ml-0 {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.flex-1 {
  transition: margin-left 0.3s ease; /* Smooth transition for main content */
}
