<!-- Modal para Editar Producto -->
<div
  *ngIf="editarModalVisible"
  class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50"
>
  <div class="bg-white rounded-lg p-6 w-full max-w-3xl shadow-lg">
    <h2 class="text-lg font-semibold mb-4 text-gray-700">Editar Producto</h2>
    <form (ngSubmit)="editarProducto()">
      <!-- Campo para subir la foto -->
      <div
        class="col-span-1 sm:col-span-2 md:col-span-3 mb-4 w-full flex flex-col items-center"
      >
        <input
          type="file"
          (change)="onFileSelected($event)"
          id="file-input-edit"
          class="hidden"
          accept="image/*"
          required
        />
        <label
          for="file-input-edit"
          class="flex items-center justify-center cursor-pointer text-white rounded-lg w-full h-32 transition duration-150"
        >
          <div class="flex flex-col items-center justify-center">
            <img
              [src]="productoSeleccionado.image || 'assets/images/Editar.jpg'"
              alt="Imagen referente"
              class="h-40 mb-2 object-cover"
            />
            <span class="text-sm">Seleccionar imagen</span>
          </div>
        </label>
      </div>

      <!-- Campos del producto -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <!-- Código del Producto -->
  <div>
    <label for="code_product" class="block text-sm font-medium text-gray-700 mb-1">Código del Producto</label>
    <input 
      [(ngModel)]="productoSeleccionado.code_product" 
      id="code_product" 
      name="code_product" 
      required  
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500"  
      placeholder="Ingresa el código"  
      [value]="productoSeleccionado.code_product"
    />
  </div>

  <!-- Nombre del Producto -->
  <div>
    <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Nombre del Producto</label>
    <input 
      [(ngModel)]="productoSeleccionado.name" 
      id="name" 
      name="name" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Ingresa el nombre" 
      [value]="productoSeleccionado.name"
    />
  </div>


  <!-- Costo Precio -->
  <div>
    <label for="costoPrecio" class="block text-sm font-medium text-gray-700 mb-1">Costo de Precio</label>
    <input 
      [(ngModel)]="productoSeleccionado.purchasePrice" 
      id="costoPrecio" 
      name="costoPrecio" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Costo del producto" 
      [value]="productoSeleccionado.purchasePrice"
    />
  </div>

  <!-- Precio de Venta -->
  <div>
    <label for="ventaPrecio" class="block text-sm font-medium text-gray-700 mb-1">Precio de Venta</label>
    <input 
      [(ngModel)]="productoSeleccionado.salePrice" 
      id="ventaPrecio" 
      name="ventaPrecio" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Precio de venta" 
      [value]="productoSeleccionado.salePrice"
    />
  </div>

  <!-- Categoría -->
  <div>
    <label for="categoria" class="block text-sm font-medium text-gray-700 mb-1">Categoría</label>
    <input 
      [(ngModel)]="productoSeleccionado.categoriesProductsId" 
      id="categoria" 
      name="categoria" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Categoría del producto" 
      [value]="productoSeleccionado.categoriesProductsId"
    />
  </div>
  
  <!-- Ubicación -->
  <div>
    <label for="ubicacion" class="block text-sm font-medium text-gray-700 mb-1">Ubicación</label>
    <input 
      [(ngModel)]="productoSeleccionado.ubicacion" 
      id="ubicacion" 
      name="ubicacion" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Ubicación del producto" 
      [value]="productoSeleccionado.ubicacion"
    />
  </div>

  <!-- Descripción -->
  <div class="col-span-full">
    <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Descripción</label>
    <textarea 
      [(ngModel)]="productoSeleccionado.description" 
      id="description" 
      name="description" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Descripción del producto"
      [value]="productoSeleccionado.description"
    ></textarea>
  </div>

  <!-- Stock -->
  <div>
    <label for="stock" class="block text-sm font-medium text-gray-700 mb-1">Stock</label>
    <input 
      [(ngModel)]="productoSeleccionado.stock" 
      id="stock" 
      name="stock" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Cantidad en stock" 
      [value]="productoSeleccionado.stock"
    />
  </div>

  <!-- Descuento -->
  <div>
    <label for="descuento" class="block text-sm font-medium text-gray-700 mb-1">Descuento</label>
    <input 
      [(ngModel)]="productoSeleccionado.descuento" 
      id="descuento" 
      name="descuento" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Descuento" 
      [value]="productoSeleccionado.descuento"
    />
  </div>

  <!-- Modelo -->
  <div>
    <label for="modelo" class="block text-sm font-medium text-gray-700 mb-1">Modelo</label>
    <input 
      [(ngModel)]="productoSeleccionado.modelo" 
      id="modelo" 
      name="modelo" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Modelo del producto" 
      [value]="productoSeleccionado.modelo"
    />
  </div>

  <!-- Proveedor -->
  <div>
    <label for="proveedor" class="block text-sm font-medium text-gray-700 mb-1">Proveedor</label>
    <input 
      [(ngModel)]="productoSeleccionado.supplierId" 
      id="proveedor" 
      name="proveedor" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Proveedor" 
      [value]="productoSeleccionado.supplierId"
    />
  </div>

  <!-- Fecha de Ingreso -->
  <div>
    <label for="fechaIngreso" class="block text-sm font-medium text-gray-700 mb-1">Fecha de Ingreso</label>
    <input 
      [(ngModel)]="productoSeleccionado.fechaIngreso" 
      id="fechaIngreso" 
      name="fechaIngreso" 
      required 
      class="border border-gray-300 rounded-md w-full p-2 focus:ring-blue-500 focus:border-blue-500" 
      placeholder="Fecha de ingreso" 
      [value]="productoSeleccionado.fechaIngreso"
      type="date"
    />
  </div>
</div>




      <!-- Botones del formulario -->
      <div class="flex justify-end mt-4">
        <button
          type="submit"
          class="bg-green-700 text-white rounded py-2 px-4 hover:bg-green-800 transition"
        >
          Guardar
        </button>
        <button
          (click)="cerrarEditarModal()"
          type="button"
          class="bg-gray-300 text-black rounded py-2 px-4 hover:bg-gray-400 ml-2 transition"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
