<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="relative w-full max-w-md mx-auto bg-white rounded-xl shadow-2xl">
    <!-- Encabezado -->
    <div class="flex items-center justify-between p-5 bg-blue-600 text-white rounded-t">
      <h3 class="text-2xl font-semibold">Edit User</h3>
      <button 
        (click)="cancelEdit()" 
        class="text-3xl font-semibold text-red-500 hover:text-red-700">
        &times;
      </button>
    </div>

    <!-- Contenido del modal -->
    <div class="p-6">
      <label class="block text-gray-700">Nombre</label>
      <input [(ngModel)]="user.username" type="text" class="w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-300">
      
      <label class="block mt-4 text-gray-700">Correo</label>
      <input [(ngModel)]="user.email" type="email" class="w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-300">
      
      <label class="block mt-4 text-gray-700">Estado</label>
      <select [(ngModel)]="user.state" class="w-full px-4 py-2 border rounded-md focus:ring focus:ring-blue-300">
        <option [value]="1">Activo</option>
        <option [value]="0">Inactivo</option>
      </select>
    </div>

    <!-- Botones -->
    <div class="flex justify-end p-4 space-x-3 border-t">
      <button (click)="cancelEdit()" class="px-4 py-2 text-gray-600 bg-gray-200 rounded-md hover:bg-gray-300">Cancelar</button>
      <button (click)="updateUser()" class="px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700">Actualizar</button>
    </div>
  </div>
</div>
