<div
  class="min-h-screen bg-gray-100 flex items-center justify-center bg-cover bg-center"
  style="background-image: url('/img/agro.png')"
>
  <div class="w-full max-w-4xl mx-4">
    <div
      class="bg-white bg-opacity-90 rounded-lg shadow-xl flex flex-col md:flex-row"
    >
      <div class="hidden md:flex md:w-1/2">
        <img
          src="/img/logo.webp"
          alt="Jardín del Edén Logo"
          class="w-full h-full object-cover rounded-l-lg"
        />
      </div>

      <div class="w-full md:w-1/2 p-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Crear Cuenta</h1>

        <form class="space-y-6" (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <div>
            <input
              type="email"
              placeholder="Correo Electrónico"
              [(ngModel)]="email"
              name="email"
              class="w-full px-4 py-3 border border-black bg-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              required
              #emailField="ngModel"
            />
            <div
              *ngIf="emailField.invalid && emailField.touched"
              class="text-red-500 text-sm mt-1"
            >
              Ingresa un correo válido.
            </div>
          </div>

          <div>
            <input
              type="text"
              placeholder="Nombre de Usuario"
              [(ngModel)]="username"
              name="username"
              class="w-full px-4 py-3 border border-black bg-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              required
              #usernameField="ngModel"
            />
            <div
              *ngIf="usernameField.invalid && usernameField.touched"
              class="text-red-500 text-sm mt-1"
            >
              El nombre de usuario es obligatorio.
            </div>
          </div>

          <div class="relative">
            <input
              type="password"
              id="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
              name="password"
              class="w-full px-4 py-3 border border-black bg-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              required
              minlength="6"
              #passwordField="ngModel"
            />
            <button
              type="button"
              class="absolute right-4 top-1/2 transform -translate-y-1/2"
              (click)="togglePasswordVisibility('password', 'passwordIcon')"
            >
              <i id="passwordIcon" class="fas fa-eye-slash"></i>
            </button>
            <div
              *ngIf="passwordField.invalid && passwordField.touched"
              class="text-red-500 text-sm mt-1"
            >
              La contraseña debe tener al menos 6 caracteres.
            </div>
          </div>

          <button
            type="submit"
            class="w-full py-3 px-4 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-md transition duration-200 ease-in-out"
            [disabled]="registerForm.invalid"
          >
            Registrarse
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
