/* Modal Background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenedor del formulario dentro del modal */
  .modal form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para las etiquetas y campos de formulario */
  .modal label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .modal input, .modal textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal textarea {
    resize: vertical;
    height: 100px;
  }
  
  /* Estilo para el botón de cancelar y actualizar */
  .modal button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .modal button[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  .modal button[type="button"] {
    background-color: #f44336;
    color: white;
  }
  
  /* Estilo para la vista previa de la imagen */
  .modal h4 {
    margin-top: 0;
  }
  
  .modal img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  /* Centrado de los botones */
  .modal button {
    margin-top: 10px;
  }
  .toast-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    animation: fadeInOut 3s;
    z-index: 1000;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  