<!-- Modal para Ver Carrito -->
<div *ngIf="carritoVisible" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
  <div class="bg-[#d2f8d8] rounded-lg p-6 w-[28rem] max-w-lg relative overflow-hidden shadow-xl">

    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg font-semibold">Carrito</h2>
      <button (click)="cerrarCarrito()"
        class="text-black-500 hover:text-white hover:bg-red-500 border border-white-500 rounded-full w-8 h-8 flex items-center justify-center transition duration-200 ease-in-out"
        aria-label="Cerrar carrito">
        &times;</button>
    </div>


    <ul class="mb-4 max-h-80 overflow-y-auto pr-2">
      <li *ngFor="let item of carrito" class="flex flex-col border-b border-gray-300 py-2">

        <div class="flex justify-between items-center bg-white shadow-lg rounded-lg p-4 relative">
          <button (click)="eliminarProducto(item)"
            class="absolute top-1 right-1 text-red-500 text-2xl font-bold hover:text-red-700 focus:outline-none"
            title="Eliminar producto">
            &times;
          </button>
          <img [src]="item.image" alt="{{ item.name }}"
            class="w-20 h-20 rounded-lg object-cover border-2 border-gray-200" />
          <div class="flex flex-col ml-4">
            <span class="text-lg font-semibold text-gray-800">{{ item.name }}</span>
            <span class="text-sm text-gray-600">Proveedor: {{ item.supplier?.name }}</span>
            <!-- <span class="text-green-600 text-xs">stock actual: {{ item.cantidad }}</span>  -->
            <span class="text-sm text-blue-600 mt-1">Precio: ${{ item.salePrice }}</span>
            <span class="text-sm text-red-600 font-semibold mt-1">Total: ${{ item.salePrice * item.cantidad }}</span>

          </div>
          <div class="flex items-center space-x-2">
            <button (click)="decrementarCantidad(item)"
              class="bg-gray-600 text-white text-xs w-6 h-6 flex items-center justify-center rounded-full hover:bg-gray-700 focus:outline-none">
              -
            </button>
            <span class="text-sm">{{ item.cantidad }}</span>
            <button (click)="incrementarCantidad(item)"
              class="bg-gray-600 text-white text-xs py-1 px-2 rounded-full hover:bg-gray-700 focus:outline-none">
              +
            </button>
          </div>

        </div>
      </li>
    </ul>
    <div class="flex justify-between items-center mt-6">
      <button (click)="aceptarCarrito()"
        class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700 transition duration-200 focus:outline-none">
        Finalizar compra
      </button>
      <div class="font-semibold text-lg text-gray-900">Subtotal: ${{ subtotal() }}</div> <!-- Mostrar el subtotal -->
    </div>
    <!--<div class="flex justify-between items-center mt-2">
      
      <div class="font-semibold text-lg text-gray-900">Total: ${{ totalCarrito }}</div> Mostrar el total
    </div>-->
  </div>
</div>